Source: ddcp
Section: utils
Priority: optional
Maintainer: Genki Sugawara <sgwr_dts@yahoo.co.jp>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/winebarrel/ddcp
#Vcs-Git: git://git.debian.org/collab-maint/ddcp.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ddcp.git;a=summary

Package: ddcp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Parallel file copy command using dd
